<div class="container-fluid">
    <div id="header">
        <select id="categoriaFiltro" class="custom-select" (change)="updateProfissionaisFiltro()">
            <option selected>Escolher categoria...</option>
            <option *ngFor="let pergunta of perguntasMock.perguntas">{{pergunta.categoria}}</option>
        </select>

        <h2 id="fraseServ">Profissionais Disponíveis</h2>
    </div>

    <div class="card-columns" *ngIf="profissionais.length != 0 && profissionais != undefined">
        <div *ngFor="let profissional of profissionais">
            <div class="card" *ngIf="filtroCategoriaSelector.selectedIndex == 0 || (filtroCategoriaSelector.selectedIndex > 0 && checkSelectCategory(filtroCategoriaSelector.value, profissional.habilidades))">
                <!--<img class="card-img-top" src="{{playlist.capa}}" alt="jpg">-->

                <div id="card">
                    <div class="card-block">
                        <div>
                            <img id="profilePicture" src="{{profissional.profilePicture}}" style="width:100%; height: 258px;" alt="Avatar">
                        </div>

                        <div>
                            <h2 class="card-title">{{profissional.nome}}</h2>
                            <div id="userSkillsDiv">
                                <p id="userSkills" *ngFor="let habilidade of profissional.habilidades">{{habilidade}}</p>
                            </div>
                            <div class="text-center">
                                <a class="btn btn-primary" id="contactButtom" data-toggle="modal" data-target="#contactFormularioSm" (click)="setCardClickedCategorias(profissional.habilidades)">Entrar em Contato</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="contactFormularioSm" tabindex="-1" role="dialog" aria-labelledby="contractFormularioSmModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title w-100" id="contractFormularioSmModalLabel">Formulario de orçamento prévio personalizado</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="formReset()">
                    <span id="closeButtom" aria-hidden="true" >&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="h5 text-left" id="contactModalSubTitle">Informações para contato</div>
                        <div class="row pv-lg">
                            <div class="col-lg-1"></div>
                            <form [formGroup]="form" (ngSubmit)="submit()" novalidate>
                                <div class="form-row">
                                    <div id="nome" class="form-group col-md-4">
                                        <label for="inputName">Nome:</label>
                                        <input id="inputName" formControlName="nome" type="text" class="form-control" placeholder="Nome" [class.is-invalid]="nome.invalid && nome.touched">
                                        <small id="nameHelp" class="form-text text-muted">Digite seu nome.</small>
                                        <div *ngIf="nome.invalid && nome.touched">
                                            <small *ngIf="nome.errors?.required" class="text-danger">É necessário informar seu nome.</small>
                                        </div>
                                    </div>
                                    <div id="sobrenome" class="form-group col-md-4">
                                        <label for="inputSobrenome">Sobrenome:</label>
                                        <input id="inputSobrenome" formControlName="sobrenome" type="text" class="form-control" placeholder="Sobrenome" [class.is-invalid]="sobrenome.invalid && sobrenome.touched">
                                        <small id="sobrenomeHelp" class="form-text text-muted">Digite seu sobrenome.</small>
                                        <div *ngIf="sobrenome.invalid && sobrenome.touched">
                                            <small *ngIf="sobrenome.errors?.required" class="text-danger">É necessário informar
                                                            seu sobrenome.</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputEmail">Endereço de email:</label>
                                    <input id="inputEmail" formControlName="email" [class.is-invalid]="email.invalid && email.touched" type=" email" class="form-control" aria-describedby="emailHelp" placeholder="Seu email">
                                    <small id="emailHelp" class="form-text text-muted">Nunca vamos compartilhar seu email, com ninguém.</small>
                                    <div *ngIf="email.invalid && email.touched">
                                        <small *ngIf="email.errors?.required" class="text-danger">É necessário informar um email.</small>
                                        <small *ngIf="email.errors?.pattern" class="text-danger">O email deve ser válido.</small>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputCEP">CEP:</label>
                                    <input id="inputCEP" formControlName="cep" [class.is-invalid]="cep.invalid && cep.touched" type="cep" class="form-control" aria-describedby="cepHelp" placeholder="00000-000" required pattern="\d{2}\.?\d{3}-\d{3}">
                                    <div *ngIf="cep.invalid && cep.touched">
                                        <small *ngIf="cep.errors?.required" class="text-danger">É necessário informar um CEP.</small>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputTelefone">Telefone:</label>
                                    <input id="inputTelefone" formControlName="telefone" [class.is-invalid]="telefone.invalid && telefone.touched" type="telefone" class="form-control" aria-describedby="telefoneHelp" placeholder="(DDD)00000-0000" required pattern="\(?\d{2}\)?\d{4,5}\-?\d{4}">
                                    <div *ngIf="cep.invalid && cep.touched">
                                        <small *ngIf="cep.errors?.required" class="text-danger">É necessário informar um Telefone para contato.</small>
                                    </div>
                                </div>
                                <div class="h5 text-left" id="perguntaModalSubTitle">Perguntas personalizadas</div>

                                <select id="inputCategoria" class="custom-select" formControlName="categoria" [class.is-invalid]="categoria.invalid && categoria.touched">
                                    <option selected>Escolher categoria...</option>
                                    <option *ngFor="let habilidade of cardClickedHabilidades">{{habilidade}}</option>
                                </select>

                                <div class="h5 text-left" id="perguntasLabelModalSubTitle">{{getCategoriaPerguntasLabel(categoria.value)}}</div>

                                <div class="form-group">
                                    <div *ngFor="let pergunta of getCategoriaPerguntas(categoria.value)">
                                        <label for="inputPergunta">{{pergunta}}</label>
                                        <input id="inputPergunta" formControlName="pergunta{{getPerguntaIdIndex(pergunta)}}" type="text" class="form-control" placeholder="Resposta" [class.is-invalid]="getPerguntaIdIndexObject(pergunta).invalid && getPerguntaIdIndexObject(pergunta).touched">
                                        <div *ngIf="getPerguntaIdIndexObject(pergunta).invalid && getPerguntaIdIndexObject(pergunta).touched">
                                            <small *ngIf="getPerguntaIdIndexObject(pergunta).errors?.required" class="text-danger">É necessário responder as perguntas personalizadas</small>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-row" id="buttonRow">
                                    <div class="form-group col-md-4">
                                        <button id="botao" type="submit" class="btn btn-primary" [disabled]="form.invalid" data-toggle="modal" data-dismiss="modal" data-target="#formSent">Enviar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="formSent" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-notify modal-success" role="document">
        <div class="modal-content text-center">
            <div class="modal-header d-flex justify-content-center">
                <h6 class="heading">Formulário enviado com sucesso!</h6>
            </div>

            <div id="loginRequestFooter" class="modal-footer">
                <a class="btn btn-success" data-dismiss="modal" (click)="formReset()">Fechar</a>
            </div>
        </div>
    </div>
</div>