<div class="container-fluid">
    <h2 id="fraseServ">Profissionais Disponíveis</h2>

    <div class="card-columns" *ngIf="profissionais.length != 0 && profissionais != undefined">
        <div class="card" *ngFor="let profissional of profissionais">
            <!--<img class="card-img-top" src="{{playlist.capa}}" alt="jpg">-->

            <div id="card">
                <div class="card-block">
                    <div>
                        <img id="profilePicture" src="{{profissional.profilePicture}}" style="width:100%; height: 258px;" alt="Avatar">
                    </div>

                    <div>
                        <h2 class="card-title">{{profissional.nome}}</h2>
                        <div id="userSkillsDiv">
                            <p id="userSkills" *ngFor="let habilidade of profissional.habilidades">{{habilidade}}</p>
                            <p id="userSkills" *ngIf="profissionais.habilidades == undefined || profissional.habilidades.length == 0"></p>
                        </div>
                        <button id="botao" class="btn btn-primary">Entrar em Contato</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="loginRequest" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
        <div class="modal-content text-center">
            <div class="modal-header d-flex justify-content-center">
                <p class="heading">Você não está logado. Deseja fazer login?</p>
            </div>

            <div id="loginRequestFooter" class="modal-footer">
                <a routerLink="/entrar" class="btn btn-success" data-dismiss="modal">Sim</a>
                <a type="button" class="btn btn-danger waves-effect" data-dismiss="modal">Não</a>
            </div>
        </div>
    </div>
</div>