.container-fluid {
    background-color: #45528E;
    margin-top: 70.4px;
    width: 100%;
    height: 100%;
    padding-bottom: 40px;
    padding-left: 0;
}

#fraseServ {
    text-align: center;
    color: white;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

.card-columns {
    margin-left: 20%;
    margin-right: 20%;
}

.card {
    background-color: #edeeef;
    border-radius: 8px;
}

.card-title {
    text-align: center;
    color: black;
    margin-top: 2%;
}

.card-img-top {
    margin-top: 2%;
}

label {
    color: black;
}

#contractFormularioSmModalLabel {
    color: black;
    text-align: center;
}

p {
    color: white;
}

#closeButtom {
    color: red;
}

#userSkills {
    color: black;
    background-color: rgb(197, 197, 197);
    border-radius: 5px;
    margin-left: 1.5%;
    padding: 1.5%;
}

.card-block {
    text-align: center;
}

#container {
    padding-left: 0;
}

#card {
    padding: 3px;
}

#userSkillsDiv {
    min-height: 50px;
}

#contactModalSubTitle {
    padding-left: 6.5%;
}

.panel {
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .14), 0 2px 2px 0 rgba(0, 0, 0, .098), 0 1px 5px 0 rgba(0, 0, 0, .084);
    border: 0;
    border-radius: 8px;
    margin-bottom: 5px;
    background-color: #edeeef;
    background-color: #edeeef;
}