<div id="background">

    <h1 id="titulo">Perguntas Frequentes</h1>

    <div id="faq">
        <h3>Duvidas com a conta</h3>

        <button class="accordion">Não me lembro das minhas informações de login.</button>
        <div class="panel">
            <p>Se você não se lembrar da sua senha, use a página de redefinição de senha. Se não se lembrar do seu e-mail/nome de usuário, acesse a página de redefinição de senha e insira os endereços de e-mail que você pode ter usado para criar uma conta.
                Quando o endereço certo for inserido, aparecerá uma mensagem dizendo que o e-mail de redefinição de senha foi enviado.</p>
        </div>

        <button class="accordion">Não consigo redefinir a senha.</button>
        <div class="panel">
            <p>Você precisa ter acesso ao endereço de e-mail cadastrado na sua conta do My Services para abrir o link de redefinição de senha que nós enviamos. Caso você não tenha acesso, estas são algumas opções: Recupere o acesso ao endereço de e-mail,
                se possível Entre em contato conosco para que possamos atualizar o endereço de e-mail associado à sua conta Crie uma nova conta e comece do zero.</p>
        </div>

        <h3>Duvidas Sobre Prestadores de Serviços</h3>

        <button class="accordion">Quero criar um Serviço, onde posso cria-lo ?</button>
        <div class="panel">
            <p>Após fazer login na sua conta, acesse a aba "Serviços", lá você encontrará serviços disponíveis e terá a opção de criar seu próprio serviço.</p>
        </div>

        <button class="accordion">...</button>
        <div class="panel">
            <p>...</p>
        </div>

        <h3>Duvidas Sobre Contratantes de Serviços</h3>

        <button class="accordion">Estou a procura de um serviço, como posso encontra-lo ?</button>
        <div class="panel">
            <p>Acesse a aba "Serviços", la você encontrará vários profissionais e empresas especializadas para todos tipos de serviços.</p>
        </div>

        <button class="accordion">Estou a procura de uma empresa especializada, como posso encontra-la ?</button>
        <div class="panel">
            <p>Acesse a aba "Profissionais", la você encontrará vários profissionais e empresas especializadas para todos tipos de serviços.</p>
        </div>
    </div>
</div>