<div id="background">

    <h1 id="titulo">Perguntas Frequentes</h1>

    <div id="faq">
        <h3>Duvidas sobre a Plataforma</h3>

        <button class="accordion">O que é a plataforma My Services?</button>
        <div class="panel">
            <p>My Services é uma plataforma de prestação e contratação de serviços, onde fazemos o intermédio entre um cliente e um profissional, facilitando a agilizando sua interações.</p>
        </div>

        <button class="accordion">Como a nossa plataforma funciona?</button>
        <div class="panel">
            <p>O My Services possibilita que um profissional crie um perfil e se disponha como um prestador de serviços, ao passo que um cliente pode contrata-lo. Melhoramos a interação entre o profissional e o cliente, reduzindo o tempo necessário, com
                funcionalidades especificas para cada tipo de serviço, que reduzem a comunicação necessária.
            </p>
        </div>

        <h3>Duvidas sobre Profissionais</h3>

        <button class="accordion">Como um profissional pode se dispor com um prestador de serviços?</button>
        <div class="panel">
            <p>Para que um usuário possa se cadastrar como um de nossos profissionais e prestar serviços para os contratantes, é necessário que ele, ao prencher o formulario de cadastro, selecione a opção profissional, no campo Tipo e conta. Essa opção pode
                ser alterada posteriormente ao editar o seu perfil.</p>
        </div>

        <button class="accordion">Como um profissional pode expressar suas habilidades na plataforma?</button>
        <div class="panel">
            <p>Ao acessar seu perfil, um profissional pode editar o campo habilidades, adicionando suas habiliades profissionais.</p>
        </div>

        <h3>Duvidas sobre Contratantes de Serviços</h3>

        <button class="accordion">Estou a procura de um serviço, como posso encontra-lo?</button>
        <div class="panel">
            <p>Acesse a aba "Profissionais", la você encontrará vários profissionais e empresas especializadas para todos tipos de serviços.</p>
        </div>
    </div>
</div>