.panel.panel-default {
    border-top-width: 3px;
}

.panel {
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .14), 0 2px 2px 0 rgba(0, 0, 0, .098), 0 1px 5px 0 rgba(0, 0, 0, .084);
    border: 0;
    border-radius: 8px;
    margin-bottom: 5px;
    background-color: #edeeef;
}

.thumb96 {
    width: 96px;
    height: 96px;
}

.thumb48 {
    width: 48px;
    height: 48px;
}

#container {
    padding-top: 110px;
    padding-bottom: 110px;
}

#containerTudo {
    background-color: #45528E;
    width: 100%;
    padding-right: 8%;
    padding-left: 8%;
    height: 115vh;
}

.col-sm-2 {
    color: black;
}

.h4 {
    color: black;
}

.m0 {
    color: black;
}

p {
    color: black;
}

.panel-body {
    padding: 20px;
}

.panel-title {
    color: black;
}

.text-bold {
    padding-left: 10px;
    color: black;
}

.form-group {
    margin-left: 15px;
}

label {
    color: black;
}

.col-lg-1 {
    margin-right: 15px;
}

#titulo {
    color: black;
    font-size: large;
    padding-bottom: 8px;
    margin-left: 2%;
}

#sobrenome {
    margin-left: 30%;
}

#data {}

#dia {}

#mes,
#ano {}

#botao {
    margin-top: 10%;
    margin-left: 110%;
    width: 50%;
}

.heading {
    color: black;
}

#info {
    margin-top: 5%;
}

#edit {
    margin-bottom: 3%;
}

#logout {
    margin-left: 5%;
    margin-bottom: 3%;
}

p {
    display: flex;
    align-items: center;
}

b {
    display: flex;
    align-items: center;
}

.container {
    display: block;
    width: 100%;
    height: auto;
    padding-left: 0%;
    padding-right: 0%;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color: rgba(131, 131, 131, 0.5);
}

.icon {
    color: black;
    font-size: 100px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.container:hover .overlay {
    opacity: 1;
}

.container .fa-download {
    position: absolute;
    bottom: 0;
    left: 0;
}

#uploadImageIcon {
    padding-left: 94%;
    margin-bottom: 94%;
}

#profilePictureContainer {
    position: relative;
}

#uploadImageIcon {
    position: absolute;
    bottom: 200;
    left: 200;
}